.HomePage .main-nav, .HomePageWithBlog .main-nav {
	//margin-top: 55px;

	a {
		color: $primary-color;
		text-shadow: none;
	}
}

.home-quicklinks li {
	border-top: 1px solid rgba(159, 159, 159, 0.3);
}

.home-quicklinks .quicklinks-title {
	color: #707070;
	text-shadow: none;
}

.main-nav {
	margin-top: 97px;
	padding-top: 55px;
	width: 80%;

	a {
		color: $primary-color;
		text-shadow: none;

		//padding: 5px 17px;

	}

	li.listen a {
		background: $primary-color;
		color: white;
	}

	@media #{$large-up} {
		margin: 0.5em 0 .5em;
	}

	@media #{$xlarge-up} {}
}

.orbit-container .orbit-slides-container > * .orbit-caption {
	bottom: 0;
	color: #222;
	width: 100%;
	padding: 0.625rem 0.875rem;
}

.home-orbit li img {
	border: 10px solid #222;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
	width: 100%;
}

.orbit-container .orbit-slides-container > * .orbit-caption a {
	color: #222;
}